{% extends 'base.html' %}

{% load static %}
{% block title %}Comment Section{% endblock %}
{% block content %}
<body class="bg-gray-100">

  <div class="mt-8 mb-5">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
      <div class="flex justify-center items-center">
        <p class="underline text-green-700 text-xl underline-offset-4 font-semibold"><a href="{% url 'user_page1' %}">Plant Library</a></p>
      </div>

      <div class="flex justify-center items-center">
        <p class="text-green-700 text-xl font-semibold"><a href="{% url 'user_problem' %}">Problem</a></p>
      </div>

      <div class="flex justify-center items-center">
        <p class="text-green-700 text-xl font-semibold"><a href="{% url 'daily_updates' %}">Daily Updates</a></p>
      </div>
    </div>
  </div>

  <form action="" method="post" class="mx-4 md:mx-14 rounded-xl">
    {% csrf_token %}
    <div class="bg-white p-6 shadow-md flex flex-col md:flex-row rounded-xl ">
      <!-- User's Uploaded Image -->
      <div class="mr-4">
          <img src="{{userplant.image.url}}" alt="User Uploaded Image" class="rounded-xl shadow" height="150" width="300">
      </div>

      <!-- User Information and Description -->
      <div class="flex-1">
          <!-- User Information -->
          <div class="flex items-center space-x-4 mb-4">
              <!-- User Image -->
              <img src="https://placekitten.com/50/50" alt="User Avatar" class="w-12 h-12 rounded-full">

              <!-- User Information -->
              <div>
                  <p class="font-semibold text-gray-800">{{userplant.created_by}}</p>
                  <p class="text-gray-600">{{userplant.created_at}}</p>
              </div>
          </div>

          <!-- Problem Description -->
          <div>
              <p class="text-gray-800">{{userplant.description}}</p>
          </div>
      </div>
    </div>

    <div class="mx-4 md:mx-14 rounded-lg">
      <!-- Add Comment Section -->
      <div class="bg-white p-6 mt-4">
        <!-- Comment -->
        <div class="flex items-start space-x-2">
          <img src="https://placekitten.com/40/40" alt="User Avatar" class="w-8 h-8 rounded-full">
          <div class="flex-1">
            <p class="font-semibold text-gray-800">{{request.user}}</p>
          </div>
        </div>
        <div class="font-semibold text-gray-800 mt-2">{{request.user.email}}</div>
      </div>

      <!-- Add Comment -->
      <div class="bg-white p-4 mb-2 rounded-lg">
        <input type="text" name="suggestion" class="w-full p-2 border rounded-md focus:outline-none mb-2" placeholder="Add a comment...">
        <button type="submit" class="mt-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none">Post Comment</button>
      </div>
    </div>
  </form>
</body>
{% endblock %}
