{% extends 'base.html' %}

{% load static %}

{% block title %}Daily Updates{% endblock %}

{% block content %}
<div class="mt-8 mb-5">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
    <div class="flex justify-center items-center">
      <p class="underline text-black text-xl font-semibold p-2 bg-green-300 rounded-lg shadow-lg"><a href="{% url 'user_page1' %}">Plant Library</a></p>
    </div>

    <div class="flex justify-center items-center">
      <p class="text-green-700 text-xl font-semibold"><a href="{% url 'user_problem' %}">Problem</a></p>
    </div>

    <div class="flex justify-center items-center">
      <p class="text-green-700 text-xl font-semibold"><a href="{% url 'daily_updates' %}">Daily Updates</a></p>
    </div> 
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 p-4 mx-14 ">
  {% for update in plants reversed %}
  <a href="{% url 'plant_description' update.id %}">
  <div class="bg-white rounded-lg overflow-hidden shadow-lg">
    <img src="{{update.image.url}}" alt="Post Image" class="w-full h-64 object-cover">
    <div class="p-4">
      <p class="text-gray-800 font-semibold">Common Name : {{update.name}}</p>
      <p class="text-gray-800 font-semibold">Scientific Name : {{update.scientific_name}}</p>
      <details>
        <summary>Description</summary>
        <p class="text-gray-600">{{update.description}}</p>
      </details> 
    </div>
  </div>
  </a>
  {% empty %}
  <p>Not yet Uploaded...</p>

  {% endfor %}
</div>
{% endblock %}
